{% extends 'base.html' %}

{% block content %}

{% load static %}
       <!-- /. header-section-->
        <!-- page-header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-caption">
                            <h1 class="page-title">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- about -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-10 offset-md-1 col-md-10 col-sm-12 col-12  mb60">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="">
                                    <p>Nunc utlacus euismod mollis tortor umaximus mevamus odio quam, efficituret dictum egeteuismodtur temporodn porta dignissim ipsumodio scelerisque felis eget euismod purus quamat acu condimentum tincidunt dui vitae.</p>
                                    <p>Accumsan urna. Donec ut dui idpurus elementum rutrum et rutrum sapien. In hac habitasse platea dictumiam quis metuaecenas finibus euue egetex idlobortis. </p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="">
                                    <p>Egeteuismod quis nequurabitur temporodn porta digssim ipsumodio scelerisque felis eget euismod purus quamat antenrcunec utdui idpurus elementum rutrum et rutrum sapien.</p>
                                    <p>Dnhac habitasse platea dictumiam t euismod purus quamat antenrcunec utdui idpurus elequis metuaecenas finibus eu dolorac blandiorbi congue egetex idlobortis. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- about-section -->
            <div class="container">
                <div class="row">
                    <!-- feature-section -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="well-block">
                            <!-- feature-left -->
                            <div class="feature-left">
                                <div class="feature-icon"><img src="{% static 'images/calendar.png' %}" alt=""></div>
                                <div class="feature-content">
                                    <h4>Everything’s on Schedule</h4>
                                    <p>Cras porttitor tortor erateget accumsan is feltumsit.</p>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                            <!-- feature-left -->
                            <div class="feature-left">
                                <div class="feature-icon"><img src="{% static 'images/adventure.png' %}" alt=""></div>
                                <div class="feature-content">
                                    <h4>Destination Variety</h4>
                                    <p>Pellentesque imperdiet esmpus finibusse euismunc.</p>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                            <!-- feature-left -->
                            <div class="feature-left">
                                <div class="feature-icon"><img src="{% static 'images/hotel.png' %}" alt=""></div>
                                <div class="feature-content">
                                    <h4>Comfortable Housing</h4>
                                    <p>Vestiulum sodales tempudin one erlctus iedate. </p>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                        </div>
                    </div>
                    <!-- /.feature-section -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="well-block">
                            <div class="counter-block">
                                <h1 class="counter-numbers">689+</h1>
                                <div class="counter-content">
                                    <h4>Tours</h4>
                                    <p>Cras porttitor tortor erateget taccumsan.</p>
                                </div>
                            </div>
                            <div class="counter-block">
                                <h1 class="counter-numbers">320+</h1>
                                <div class="counter-content">
                                    <h4>Destinations</h4>
                                    <p>Pellentesque luctus felisnon nib its consecteuis.</p>
                                </div>
                            </div>
                            <div class="counter-block">
                                <h1 class="counter-numbers">60+</h1>
                                <div class="counter-content">
                                    <h4>Countries</h4>
                                    <p>Sed gravida eleequenec fringilla dolonteger.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.about-section -->
        <!-- about carousel -->
        <div class="space-small">
            <div class="about-carousel">
                <div class="owl-carousel owl-about-gallery owl-theme">
                    <!-- about-item -->
                    <div class="item">
                        <div class="about-img">
                            <img src="images/about_item_1.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <!-- /.about-item -->
                    <!-- about-item -->
                    <div class="item">
                        <div class="about-img">
                            <img src="{% static 'images/about_item_2.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <!-- /.about-item -->
                    <!-- about-item -->
                    <div class="item">
                        <div class="about-img">
                            <img src="{% static 'images/about_item_3.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <!-- /.about-item -->
                    <!-- about-item -->
                    <div class="item">
                        <div class="about-img">
                            <img src="{% static 'images/about_item_4.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <!-- /.about-item -->
                    <!-- about-item -->
                    <div class="item">
                        <div class="about-img">
                            <img src="{% static 'images/about_item_2.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <!-- /.about-item -->
                    <!-- about-item -->
                    <div class="item">
                        <div class="about-img">
                            <img src="{% static 'images/about_item_3.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <!-- /.about-item -->
                    <!-- about-item -->
                    <div class="item">
                        <div class="about-img">
                            <img src="{% static 'images/about_item_4.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <!-- /.about-item -->
                </div>
            </div>
        </div>
        <!-- /.about carousel -->
        <!-- team-section -->
        <div class="space-medium">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb60">
                        <div class="">
                            <h2>Our Amazing Team</h2>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mb60">
                        <div class="">
                            <p class="lead">Suctus felis non nibh maximus consectetuis sed nisl eniullase pellentesque es felis non nibh maximus nisl enintesque toestieege.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
            {% for team in teams %}        <!-- team-member -->
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 ">
                        <div class="team-block">
                            <div class="team-img">
                                <a href="#" class="imghover"><img src="{{ team.photo.url }}" alt="" class="img-fluid"></a>
                            </div>
                            <div class="team-content">
                                <h4 class="team-title">{{team.first_name}} {{team.last_name}}</h4>
                                <p class="team-meta">{{team.position}}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
                </div>
            </div>
        </div>

        <!-- certificate-section -->
        <div class="space-medium bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="section-title">
                            <h2>Awards & Certification</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- awards -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb60">
                        <div class="awards-block">
                            <div class="awards-img"><img src="{% static 'images/certificate_1.png' %}" alt=""></div>
                            <div class="awards-content">
                                <h4 class="awards-title">Certified travel Service-Quality System</h4>
                            </div>
                        </div>
                    </div>
                    <!-- /.awards -->
                    <!-- awards -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb60">
                        <div class="awards-block">
                            <div class="awards-img"><img src="{% static 'images/certificate_2.png' %}" alt=""></div>
                            <div class="awards-content">
                                <h4 class="awards-title">Authorized By Tourist
Board</h4>
                            </div>
                        </div>
                    </div>
                    <!-- /.awards -->
                    <!-- awards -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb60">
                        <div class="awards-block">
                            <div class="awards-img"><img src="{% static 'images/certificate_3.png' %}" alt=""></div>
                            <div class="awards-content">
                                <h4 class="awards-title">Member of the Travel Industry
Association</h4>
                            </div>
                        </div>
                    </div>
                    <!-- /.awards -->
                </div>
                <div class="row">
                    <div class="col-xl-10 col-lg-10 offset-md-1 col-md-10 col-sm-12 col-12 text-center">
                        <p>Quality and trust are the backbone of our business, along with our other core values. dignissim ipsumodio scelerisque felis egetese ore euismodivamus blandit vehicula suorbi dstieqcondimentum tincidunt dui vitae.Egeteuismod quis neqemporodn porta digssim ipsumodio scelerisque felis eget euismod purus quamat antenrcunec utdui idpurus elementum rutrum et rutrum sapamus.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.certificate-section -->

{% endblock%}