{% extends 'base.html' %}

{% block content %}

{% load static %}

        <!-- page-header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-caption">
                            <h1 class="page-title">Blog Listing</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- blog-section -->
        <div class="content">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="post-block">
                            <!-- post block -->
                            <div class="post-img">
                                <a href="#" class="imghover">
                    <img src="{% static 'images/post_thumb_1.jpg' %}" alt="" class="img-responsive"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title"><a href="#" class="title">Responsive Web Templates</a></h3>
                                <div class="meta">
                                    <span class="meta-date">25 February, 2020</span>
                                    <span>/</span>
                                    <span class="meta-comments">01 Comments</span>
                                    <span>/</span>
                                    <span class="meta-admin ">By <a href="#" class="meta-link">Admin</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="post-block">
                            <!-- post block -->
                            <div class="post-img">
                                <a href="#" class="imghover">
                    <img src="{% static 'images/post_thumb_2.jpg' %}" alt="" class="img-responsive"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title"><a href="#" class="title">Bootstrap Website Templates</a></h3>
                                <div class="meta">
                                    <span class="meta-date">24 February, 2020</span>
                                    <span>/</span>
                                    <span class="meta-comments">03 Comments</span>
                                    <span>/</span>
                                    <span class="meta-admin ">By <a href="#" class="meta-link">Admin</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="post-block">
                            <!-- post block -->
                            <div class="post-img">
                                <a href="#" class="imghover">
                    <img src="{% static 'images/post_thumb_3.jpg' %}" alt="" class="img-responsive"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title"><a href="#" class="title">Travel Website Templates</a></h3>
                                <div class="meta">
                                    <span class="meta-date">23 February, 2020</span>
                                    <span>/</span>
                                    <span class="meta-comments">04 Comments</span>
                                    <span>/</span>
                                    <span class="meta-admin ">By <a href="#" class="meta-link">Admin</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="post-block">
                            <!-- post block -->
                            <div class="post-img">
                                <a href="#" class="imghover">
                    <img src="{% static 'images/post_thumb_4.jpg' %}" alt="" class="img-responsive"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title"><a href="#" class="title ">Tourism Website Templates</a></h3>
                                <div class="meta">
                                    <span class="meta-date">22 February, 2020</span>
                                    <span>/</span>
                                    <span class="meta-comments">12 Comments</span>
                                    <span>/</span>
                                    <span class="meta-admin ">By <a href="#" class="meta-link">Admin</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="post-block">
                            <!-- post block -->
                            <div class="post-img">
                                <a href="#" class="imghover">
                    <img src="{% static 'images/post_thumb_5.jpg' %}" alt="" class="img-responsive"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title"><a href="#" class="title">Travel Agency Website Templates</a></h3>
                                <div class="meta">
                                    <span class="meta-date">21 February, 2020</span>
                                    <span>/</span>
                                    <span class="meta-comments">10 Comments</span>
                                    <span>/</span>
                                    <span class="meta-admin ">By <a href="#" class="meta-link">Admin</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="post-block">
                            <!-- post block -->
                            <div class="post-img">
                                <a href="#" class="imghover">
                    <img src="{% static 'images/post_thumb_6.jpg' %}" alt="" class="img-responsive"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title"><a href="#" class="title">Tours & Travels Website Templates</a></h3>
                                <div class="meta">
                                    <span class="meta-date">20 February, 2020</span>
                                    <span>/</span>
                                    <span class="meta-comments">10 Comments</span>
                                    <span>/</span>
                                    <span class="meta-admin ">By <a href="#" class="meta-link">Admin</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pagination start -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="st-pagination">
                            <ul class="pagination justify-content-center">
                                <li><a href="#" aria-label="previous"><span aria-hidden="true">Previous</span></a> </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li> <a href="#" aria-label="Next"><span aria-hidden="true">Next</span></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- pagination close -->
                </div>
            </div>
        </div>
        <!-- /.blog-section -->
        <div class="newsletter-wrapper newsletter-overlay" style="background:url({% static 'images/newsletter_wrapper.jpg' %}) no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 offset-md-5 col-md-6 col-sm-12 col-12">
                        <div class="newsletter-block">
                           <h1 class="newsletter-title">Join The Newsletter</h1>
                        <p class="mb30">Subscribe the newsletter and get update for discounts on tours.</p>
                            <form>
                                <div class="input-group add-on">
                                    <input class="form-control" placeholder="email address here" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary newsletter-btn" type="submit">subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}