{% extends 'base.html' %}
{% block title %} | {{single_tour.tour_title}} {% endblock %}
{% block content %}

{% load humanize %}
{% load static %}




        <!-- page-header -->
        <div class="tour-pageheader">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="tour-caption">
                            <h1 class="text-white tour-title">{{single_tour.tour_title}}</h1>
                            <p class="tour-caption-text text-white"><strong class="tour-rate">$ {{single_tour.tour_price}}</strong>( 3 nights | 4 days )</p>
                            <a href="#" class="btn btn-primary mb10">Book Your Tour</a>
                            <a href="#" class="btn btn-white mb10">view map</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                        <div class="highlights-section mb60">
                            <h3>Highlights</h3>
                            <p>{{single_tour.hightlight}}</p>
                            <ul class="angle list-none title-bold mb40">
                                {% if single_tour.highlight_1 %}
                                    <li>{{single_tour.highlight_1}}</li>
                                {% endif %}
                                {% if single_tour.highlight_2 %}
                                    <li>{{single_tour.highlight_2}}</li>
                                {% endif %}
                                {% if single_tour.highlight_3 %}
                                    <li>{{single_tour.highlight_3}}</li>
                                {% endif %}
                                {% if single_tour.highlight_4 %}
                                    <li>{{single_tour.highlight_4}}</li>
                                {% endif %}
                                {% if single_tour.highlight_5 %}
                                    <li>{{single_tour.highlight_5}}</li>
                                {% endif %}
                            </ul>
                            <h4 class="mb30"> {{single_tour.tour_title}} Highlights</h4>
                            <div class="slide-thumb-gallery">
                                <div class="owl-carousel" data-slider-id="1">
                                    {% if single_tour.tour_photo_1 %}
                                        <div><img src="{{single_tour.tour_photo_1.url}}" alt="" class="img-fluid"></div>
                                    {% endif %}
                                    {% if single_tour.tour_photo_3 %}
                                        <div><img src="{{ single_tour.tour_photo_3.url }}" alt="" class="img-fluid"></div>
                                    {% endif %}
                                    {% if single_tour.tour_photo_5 %}
                                        <div><img src="{{ single_tour.tour_photo_5.url }}" alt="" class="img-fluid"></div>
                                    {% endif %}
                                    {% if single_tour.tour_photo_7 %}
                                        <div><img src="{{ single_tour.tour_photo_7.url }}" alt="" class="img-fluid"></div>
                                    {% endif %}
                                </div>
                                <div class="owl-thumbs" data-slider-id="1">
                                    {% if single_tour.tour_photo_2 %}
                                        <button class="owl-thumb-item"><img src="{{ single_tour.tour_photo_2.url }}" alt="" class="img-fluid"></button>
                                    {% endif %}
                                    {% if single_tour.tour_photo_4 %}
                                        <button class="owl-thumb-item"><img src="{{ single_tour.tour_photo_4.url }}" alt="" class="img-fluid"></button>
                                    {% endif %}
                                    {% if single_tour.tour_photo_6 %}
                                        <button class="owl-thumb-item"><img src="{{ single_tour.tour_photo_6.url }}" alt="" class="img-fluid"></button>
                                    {% endif %}
                                    {% if single_tour.tour_photo_8 %}
                                        <button class="owl-thumb-item"><img src="{{ single_tour.tour_photo_8.url }}" alt="" class="img-fluid"></button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="journey-section mb60">
                            <h3 class="mb30">Journey</h3>

                            <div class="well-bg-block">
                                {% if single_tour.day_1_title %}
                                    <h4 class="journey-day-title">Day 1 : {{ single_tour.day_1_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_1 %}
                                        {{ single_tour.day_1 | safe }}
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_2_title %}
                                    <h4 class="journey-day-title">Day 2 : {{ single_tour.day_2_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                   {% if single_tour.day_2 %}
                                        {{ single_tour.day_2 | safe }}
                                   {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_3_title %}
                                    <h4 class="journey-day-title">Day 3 : {{ single_tour.day_3_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_3 %}
                                        {{ single_tour.day_3 | safe }}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_4_title %}
                                    <h4 class="journey-day-title">Day 4: {{ single_tour.day_4_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_4 %}
                                        {{ single_tour.day_4 | safe }}
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_5_title %}
                                    <h4 class="journey-day-title">Day 5 : {{ single_tour.day_5_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                   {% if single_tour.day_5 %}
                                        {{ single_tour.day_5 | safe }}
                                   {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_6_title %}
                                    <h4 class="journey-day-title">Day 6 : {{ single_tour.day_6_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_6 %}
                                        {{ single_tour.day_6 | safe }}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_7_title %}
                                    <h4 class="journey-day-title">Day 7 : {{ single_tour.day_7_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_7 %}
                                        {{ single_tour.day_7 | safe }}
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_8_title %}
                                    <h4 class="journey-day-title">Day 8 : {{ single_tour.day_8_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                   {% if single_tour.day_8 %}
                                        {{ single_tour.day_8 | safe }}
                                   {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_9_title %}
                                    <h4 class="journey-day-title">Day 9 : {{ single_tour.day_9_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_9 %}
                                        {{ single_tour.day_9 | safe }}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_10_title %}
                                    <h4 class="journey-day-title">Day 10 : {{ single_tour.day_10_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_10 %}
                                        {{ single_tour.day_10 | safe }}
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_11_title %}
                                    <h4 class="journey-day-title">Day 11 : {{ single_tour.day_11_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                   {% if single_tour.day_11 %}
                                        {{ single_tour.day_11 | safe }}
                                   {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_12_title %}
                                    <h4 class="journey-day-title">Day 12 : {{ single_tour.day_12_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_12 %}
                                        {{ single_tour.day_12 | safe }}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_13_title %}
                                    <h4 class="journey-day-title">Day 13 : {{ single_tour.day_13_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_13 %}
                                        {{ single_tour.day_13 | safe }}
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_13_title %}
                                    <h4 class="journey-day-title">Day 13 : {{ single_tour.day_13_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                   {% if single_tour.day_13 %}
                                        {{ single_tour.day_13 | safe }}
                                   {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_14_title %}
                                    <h4 class="journey-day-title">Day 14 : {{ single_tour.day_14_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_14 %}
                                        {{ single_tour.day_14 | safe }}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_15_title %}
                                    <h4 class="journey-day-title">Day 15 : {{ single_tour.day_15_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_15 %}
                                        {{ single_tour.day_15 | safe }}
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_16_title %}
                                    <h4 class="journey-day-title">Day 16 : {{ single_tour.day_16_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                   {% if single_tour.day_16 %}
                                        {{ single_tour.day_16 | safe }}
                                   {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_17_title %}
                                    <h4 class="journey-day-title">Day 17 : {{ single_tour.day_17_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_17 %}
                                        {{ single_tour.day_17 | safe }}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_18_title %}
                                    <h4 class="journey-day-title">Day 18 : {{ single_tour.day_18_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_18 %}
                                        {{ single_tour.day_18 | safe }}
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_19_title %}
                                    <h4 class="journey-day-title">Day 19 : {{ single_tour.day_19_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                   {% if single_tour.day_19 %}
                                        {{ single_tour.day_19 | safe }}
                                   {% endif %}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                {% if single_tour.day_20_title %}
                                    <h4 class="journey-day-title">Day 20 : {{ single_tour.day_20_title }}</h4>
                                {% endif %}
                                <ul class="angle list-none">
                                    {% if single_tour.day_20 %}
                                        {{ single_tour.day_20 | safe }}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="included-section mb60">
                            <h3 class="mb30">What's Included</h3>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <ul class="arrow list-none">
                                        {{ single_tour.tour_included | safe }}
                                    </ul>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <ul class="arrow list-none">
                                        {{ single_tour.tour_included_2 | safe }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-section mb60">
                            <h3 class="mb40">Customer Reviews</h3>
                            <div class="review-block">
                                <div class="review-img"><img src="{% static 'images/user_img_1.jpg' %}" alt="" class="rounded-circle"></div>
                                <div class="review-content">
                                    <h5 class="title-bold d-inline">Jennifer Wirtz</h5>
                                    <div class="star-rating">
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </div>
                                    <p>Vivamus velit ligula tempus id dui apretium imperdiet liguorbi sit amet pharetra leo. Integer tempus enim vel placerat consectetu ecenascula.</p>
                                </div>
                            </div>
                            <div class="review-block">
                                <div class="review-img"><img src="images/user_img_2.jpg" alt="" class="rounded-circle"></div>
                                <div class="review-content">
                                    <h5 class="title-bold d-inline">Maria Hershberger</h5>
                                    <div class="star-rating">
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </div>
                                    <p>Eempus id dui apretium imperdiet ligorbi sitamet pharetra leonteger tempus enimvel placerat consectaecenas vehicula.</p>
                                </div>
                            </div>
                            <div class="review-block">
                                <div class="review-img"><img src="{% static 'images/user_img_3.jpg' %}" alt="" class="rounded-circle"></div>
                                <div class="review-content">
                                    <h5 class="title-bold d-inline">Della Betty</h5>
                                    <div class="star-rating">
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </div>
                                    <p>Nullam orci exegestaset finibus amolestie ut nisuspendisse mollisleo sedcongue iaculis eratneque consectetur nisiquis feugia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="video-section">
                            <h3 class="mb30">Video</h3>
                            <div class="video-block">
                            <div class="video-img">
                                <img src="{% static 'images/video_img.jpg' %}" alt="">
                                <a href="#" class="video-btn">
                                    <img src="images/play_btn.png" alt="">
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
                        <div class="widget-primary support-list">
                            <div class="widget-primary-title">
                                <h3>Why Book With Us?</h3>
                            </div>
                            <ul class="arrow list-none">
                                <li>24X7 service and support</li>
                                <li>Totally complaint in all aspects</li>
                                <li>Dedicated, trustworthy team</li>
                                <li>Professional happy services</li>
                            </ul>
                        </div>
                        <!-- enguiry-form -->
                        <!-- form -->
                        <div class="widget-form">
                            <h3 class="text-white mb30"> Book Your Tour</h3>
                            {% include 'includes/messages.html' %}
                            <form action="{% url 'contact' %}" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label sr-only" for="select"></label>
                                            <div class="select">
                                                <select id="destination" name="destination" class="form-control">
                                                    {% for tour in tours %}
                                                        <option name="destination" value="{{tour.destination}}">{{tour.destination}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="control-label sr-only" for="datepicker"></label>
                                                <div class="input-group">
                                                    <input id="datepicker" name="datepicker" type="text" placeholder="Date" class="form-control" required>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="country">Country</label>
                                            <input id="select" name="no-people" type="text" placeholder="No of people" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button type="submit" name="singlebutton" class="btn btn-primary">Enquiry Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="contact-map" class="widget-map"></div>
                    </div>
                </div>
            </div>
        </div>

    <div class="bg-light similar-package">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-title">
                        <h2>Similar Packages</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for tour in similar_tours %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <!-- destination-section -->
                           <div class="destination-block">
                                    <div class="desti-img">
                                        <img src="{{tour.tour_photo.url}}" alt="">
                                        <a href="#" class="desti-title">{{tour.tour_title}}</a>
                                        <div class="overlay">
                                        </div>
                                        <div class="text">
                                            <h3 class="mb20 text-white">{{tour.tour_title}}</h3>
                                            <ul class="angle list-none">
                                                <li>{{tour.no_nights}} Nights / {{tour.no_days}} days</li>
                                                <li>{{tour.no_stars}} Star hotel</li>
                                                <li>{{tour.meal_one}} and {{tour.meal_two}} </li>
                                            </ul>
                                            <p class="price">$1599</p>
                                            <a href="{% url 'tour_detail' tour.id %}" class="btn-link">Go for {{tour.tour_title}} <i class="fa fa-angle-right"></i></a></div>
                                   </div>
                           </div>
                       </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- newsletter -->
    {% include 'includes/newsletter.html' %}
    <!-- /.newsletter -->
{% endblock %}