{% extends 'base.html' %}
{% block title %} | {{single_tour.tour_title}} {% endblock %}
{% block content %}

{% load humanize %}
{% load static %}




        <!-- page-header -->
        <div class="tour-pageheader">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="tour-caption">
                            <h1 class="text-white tour-title">{{single_tour.tour_title}}</h1>
                            <p class="tour-caption-text text-white"><strong class="tour-rate">$ {{single_tour.tour_price}}</strong>( 3 nights | 4 days )</p>
                            <a href="#" class="btn btn-primary mb10">Book Your Tour</a>
                            <a href="#" class="btn btn-white mb10">view map</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                        <div class="highlights-section mb60">
                            <h3>Highlights</h3>
                            <p>{{single_tour.hightlight}}</p>
                            <ul class="angle list-none title-bold mb40">
                                {% if single_tour.highlight_1 %}
                                    <li>{{single_tour.highlight_1}}</li>
                                {% endif %}
                                {% if single_tour.highlight_2 %}
                                    <li>{{single_tour.highlight_2}}</li>
                                {% endif %}
                                {% if single_tour.highlight_3 %}
                                    <li>{{single_tour.highlight_3}}</li>
                                {% endif %}
                                {% if single_tour.highlight_4 %}
                                    <li>{{single_tour.highlight_4}}</li>
                                {% endif %}
                                {% if single_tour.highlight_5 %}
                                    <li>{{single_tour.highlight_5}}</li>
                                {% endif %}
                            </ul>
                            <h4 class="mb30"> {{single_tour.tour_title}} Highlights</h4>
                            <div class="slide-thumb-gallery">
                                <div class="owl-carousel" data-slider-id="1">

                                        <div><img src="{{single_tour.tour_photo_1.url}}" alt="" class="img-fluid"></div>

                                    {% if single_tour.tour_photo_3 %}
                                        <div><img src="{{ single_tour.tour_photo_3.url }}" alt="" class="img-fluid"></div>
                                    {% endif %}
                                    {% if single_tour.tour_photo_5 %}
                                        <div><img src="{{ single_tour.tour_photo_5.url }}" alt="" class="img-fluid"></div>
                                    {% endif %}
                                    {% if single_tour.tour_photo_7 %}
                                        <div><img src="{{ single_tour.tour_photo_7.url }}" alt="" class="img-fluid"></div>
                                    {% endif %}
                                </div>
                                <div class="owl-thumbs" data-slider-id="1">
                                    {% if single_tour.tour_photo_2 %}
                                        <button class="owl-thumb-item"><img src="{{ single_tour.tour_photo_2.url }}" alt="" class="img-fluid"></button>
                                    {% endif %}
                                    {% if single_tour.tour_photo_4 %}
                                        <button class="owl-thumb-item"><img src="{{ single_tour.tour_photo_4.url }}" alt="" class="img-fluid"></button>
                                    {% endif %}
                                    {% if single_tour.tour_photo_6 %}
                                        <button class="owl-thumb-item"><img src="{{ single_tour.tour_photo_6.url }}" alt="" class="img-fluid"></button>
                                    {% endif %}
                                    {% if single_tour.tour_photo_8 %}
                                        <button class="owl-thumb-item"><img src="{{ single_tour.tour_photo_8.url }}" alt="" class="img-fluid"></button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="journey-section mb60">
                            <h3 class="mb30">Journey</h3>

                            <div class="well-bg-block">
                                <h4 class="journey-day-title">Day 1 : {{ single_tour.day_1_title }}</h4>
                                <ul class="angle list-none">
                                    {{ single_tour.day_1 | safe }}

                                </ul>
                            </div>
                            <div class="well-bg-block">
                                <h4 class="journey-day-title">Day 2 : {{ single_tour.day_2_title }}</h4>
                                <ul class="angle list-none">
                                   {{ single_tour.day_2 | safe }}
                                </ul>
                            </div>
                            <div class="well-bg-block">
                                <h4 class="journey-day-title">Day 3 : {{ single_tour.day_3_title }}</h4>
                                <ul class="angle list-none">
                                    {{ single_tour.day_3 | safe }}
                                </ul>
                            </div>
                        </div>
                        <div class="included-section mb60">
                            <h3 class="mb30">What's Included</h3>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <ul class="arrow list-none">
                                        {{ single_tour.tour_included | safe }}
                                    </ul>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <ul class="arrow list-none">
                                        {{ single_tour.tour_included_2 | safe }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-section mb60">
                            <h3 class="mb40">Customer Reviews</h3>
                            <div class="review-block">
                                <div class="review-img"><img src="{% static 'images/user_img_1.jpg' %}" alt="" class="rounded-circle"></div>
                                <div class="review-content">
                                    <h5 class="title-bold d-inline">Jennifer Wirtz</h5>
                                    <div class="star-rating">
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </div>
                                    <p>Vivamus velit ligula tempus id dui apretium imperdiet liguorbi sit amet pharetra leo. Integer tempus enim vel placerat consectetu ecenascula.</p>
                                </div>
                            </div>
                            <div class="review-block">
                                <div class="review-img"><img src="images/user_img_2.jpg" alt="" class="rounded-circle"></div>
                                <div class="review-content">
                                    <h5 class="title-bold d-inline">Maria Hershberger</h5>
                                    <div class="star-rating">
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </div>
                                    <p>Eempus id dui apretium imperdiet ligorbi sitamet pharetra leonteger tempus enimvel placerat consectaecenas vehicula.</p>
                                </div>
                            </div>
                            <div class="review-block">
                                <div class="review-img"><img src="{% static 'images/user_img_3.jpg' %}" alt="" class="rounded-circle"></div>
                                <div class="review-content">
                                    <h5 class="title-bold d-inline">Della Betty</h5>
                                    <div class="star-rating">
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </div>
                                    <p>Nullam orci exegestaset finibus amolestie ut nisuspendisse mollisleo sedcongue iaculis eratneque consectetur nisiquis feugia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="video-section">
                            <h3 class="mb30">Video</h3>
                            <div class="video-block">
                            <div class="video-img">
                                <img src="{% static 'images/video_img.jpg' %}" alt="">
                                <a href="#" class="video-btn">
                                    <img src="images/play_btn.png" alt="">
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
                        <div class="widget-primary support-list">
                            <div class="widget-primary-title">
                                <h3>Why Book With Us?</h3>
                            </div>
                            <ul class="arrow list-none">
                                <li>24X7 service and support</li>
                                <li>Totally complaint in all aspects</li>
                                <li>Dedicated, trustworthy team</li>
                                <li>Professional happy services</li>
                            </ul>
                        </div>
                        <!-- enguiry-form -->
                        <!-- form -->
                        <div class="widget-form">
                            <h3 class="text-white mb30"> Book Your Tour</h3>
                            <form>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label sr-only" for="select"></label>
                                            <div class="select">
                                                <select id="destination" name="tour-title" class="form-control">
                                                    {% for tour in single_tour %}
                                                        <option value="">{{tour.destination}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="control-label sr-only" for="datepicker"></label>
                                                <div class="input-group">
                                                    <input id="datepicker" name="datepicker" type="text" placeholder="Date" class="form-control" required>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="country">Country</label>
                                            <input id="no-people" type="text" placeholder="India" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button type="submit" name="singlebutton" class="btn btn-primary">Enquiry Now</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.form -->
                        </div>
                        <!-- /.enguiry-form -->
                        <div id="contact-map" class="widget-map"></div>
                    </div>
                </div>
            </div>
        </div>

    <div class="bg-light similar-package">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-title">
                        <h2>Similar Packages</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- destination-section -->
                   <div class="destination-block">
                            <div class="desti-img">
                                <img src="{% static 'images/destination_1.jpg' %}" alt="">
                                <a href="#" class="desti-title">Singapore</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Singapore</h3>
                                    <ul class="angle list-none">
                                        <li>4 Nights / 3 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$1599</p>
                                    <a href="#" class="btn-link">Go for Singapore <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    <!-- /.destination-section -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- destination-section -->
                   <div class="destination-block">
                            <div class="desti-img">
                                <img src="{% static 'images/destination_2.jpg' %}" alt="">
                                <a href="#" class="desti-title">Thailand</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Thailand</h3>
                                    <ul class="angle list-none">
                                        <li>5 Nights / 4 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$2599</p>
                                    <a href="#" class="btn-link">Go for Thailand <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    <!-- /.destination-section -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- destination-section -->
                     <div class="destination-block">
                            <div class="desti-img">
                                <img src="{% static 'images/destination_3.jpg' %}" alt="">
                                <a href="#" class="desti-title">Vietnam</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Vietnam</h3>
                                    <ul class="angle list-none">
                                        <li>6 Nights / 5 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$4599</p>
                                    <a href="#" class="btn-link">Go for Vietnam <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    <!-- /.destination-section -->
                </div>
            </div>
        </div>
    </div>
    <!-- newsletter -->
    <div class="newsletter-wrapper newsletter-overlay" style="background: url({% static 'images/newsletter_wrapper.jpg' %}) no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 offset-md-5 col-md-6 col-sm-12 col-12">
                    <div class="newsletter-block">
                      <h1 class="newsletter-title">Join The Newsletter</h1>
                        <p class="mb30">Subscribe the newsletter and get update for discounts on tours.</p>
                        <form>
                            <div class="input-group add-on">
                                <input class="form-control" placeholder="email address here" type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary newsletter-btn" type="submit">subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.newsletter -->
{% endblock %}