{% extends 'base.html' %}

{% block content %}
{% load humanize %}
{% load static %}


        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-caption">
                            <h1 class="page-title">Interntional Tour</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- destination-section -->
        <div class="content">
            <div class="container">
                <div class="row">
                    {% for tour in tours %}
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <!-- destination-section -->
                                <div class="destination-block">
                                    <div class="desti-img">
                                        <img src="{{ tour.tour_photo.url }}" alt="">
                                        <a href="#" class="desti-title">{{tour.tour_title}}</a>
                                        <div class="overlay">
                                            </div>
                                            <div class="text">
                                                <h3 class="mb20 text-white">{{tour.tour_title}}</h3>
                                               <ul class="angle list-none">
                                                <li>{{tour.no_nights}} Nights / {{tour.no_days}} days</li>
                                                <li>{{tour.no_stars}} Star hotel</li>
                                                <li>{{tour.meal_one}} and {{tour.meal_two}}</li>
                                               </ul>
                                                <p class="price">${{tour.tour_price | intcomma }}</p>
                                                <a href="{% url 'tour_detail' tour.id %}" class="btn-link">Go for {{tour.tour_title}} <i class="fa fa-angle-right"></i></a>
                                            </div>
                                    </div>
                                </div>
                           </div>
                    {% endfor %}                    <!-- /.destination-section -->
                </div>
                <!-- Page navigation start -->

            </div>
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                      {% if tours.has_other_pages %}
                        <ul class="pagination">
                          {% if tours.has_previous %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{tours.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
                              </li>
                          {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                          {% endif %}

                          {% for i in tours.paginator.page_range %}
                            {% if tours.number == i %}
                              <li class="page-item"><a class="page-link active" href="#">{{i}}</a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                          {% endfor %}

                          {% if tours.has_next %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{cars.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                              </li>
                          {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                          {% endif %}

                        </ul>
                      {% endif %}
                    </nav>
                </div>

        </div>
        <!-- /.destination-section -->
           <!-- newsletter-section -->


{% endblock %}