{% extends 'base.html' %}

{% block content %}

{% load static %}

    <!-- page-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">Tour Packages</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
        <!-- tour-service -->
        <div class="content">
            <div class="container">
            <!-- tour-1 -->
                <div class="row ">
                    <div class="col-xl-4 col-lg-4 offset-md-1 col-md-4 col-sm-12 col-12 mb40">
                        <div class="tour-img">
                            <a href="#" class="imghover"> <img src="{% static 'images/tour_img_1.jpg' %}" alt="" class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 offset-md-1 col-md-5 col-sm-12 col-12 mb40">
                        <div class="tour-block">
                            <div class="tour-content">
                                <h2 class="mb30"><a href="#" class="title">International Tour</a></h2>
                                <p class="mb30">Vestibulum nec mauris interdum facilisis nequeet convallis odioses praesentet lacinia orciulla dolorerat ullamcorper sitamet meuesered egestas venenatis enimusce sed ipsum seddolor.</p>
                                <a href="#" class="btn-link">Go For International Tour<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- /.tour-1 -->
                  <!-- tour-2 -->
                <div class="row">
                    <div class="col-xl-5 col-lg-5 offset-md-1 col-md-5 col-sm-12 col-12 mb40">
                        <div class="tour-block">
                            <div class="tour-content">
                                <h2 class="mb30"><a href="#" class="title">Adventure Tour</a></h2>
                                <p class="mb30">Donec porttitor lorem utdiam iaculis euismod congue eroset lectus consectetur fermen uspendissolutpat risus utarcu dapibusat conquat quam sodenean pretium a metus euauctor.</p>
                                <a href="#" class="btn-link">Go For Adventure Tour<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 offset-md-1 col-md-4 col-sm-12 col-12 mb40">
                        <div class="tour-img">
                            <a href="#" class="imghover"> <img src="{% static 'images/tour_img_2.jpg' %}" alt="" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
                 <!-- /.tour-2 -->
                  <!-- tour-3 -->
                <div class="row ">
                    <div class="col-xl-4 col-lg-4 offset-md-1 col-md-4 col-sm-12 col-12 mb40">
                        <div class="tour-img">
                            <a href="#" class="imghover"> <img src="{% static 'images/tour_img_3.jpg' %}" alt="" class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 offset-md-1 col-md-5 col-sm-12 col-12 mb40">
                        <div class="tour-block">
                            <div class="tour-content">
                                <h2 class="mb30"><a href="#" class="title">Domestic Tour</a></h2>
                                <p class="mb30">Proin in urna hendrerit tortor dignissim auctor vitae etnibstibulum venenatis lectus urnaut sodales nibh sagittis eestibulum ante ipsum primisin faucibusorci luctus etultrices posuere cubilia.</p>
                                <a href="#" class="btn-link">Go For Domestic Tour<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- /.tour-3 -->
                   <!-- tour-2 -->
                <div class="row">
                    <div class="col-xl-5 col-lg-5 offset-md-1 col-md-5 col-sm-12 col-12 mb40">
                        <div class="tour-block">
                            <div class="tour-content">
                                <h2 class="mb30"><a href="#" class="title">Business Tour</a></h2>
                                <p class="mb30">Porttitor lorem utdiam iaculis euismod congue eroset lectus cotetur fermen uspendissolutpat risus utarcu dapibusat conquat quamesero sodenean pretium aetuuauctor.</p>
                                <a href="#" class="btn-link">Go For Business Tour<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 offset-md-1 col-md-4 col-sm-12 col-12 mb40">
                        <div class="tour-img">
                            <a href="#" class="imghover"> <img src="{% static 'images/tour_img_4.jpg' %}" alt="" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
                 <!-- /.tour-2 -->
            </div>
        </div>
         <!-- /.tour-service -->

   </div>

{% endblock %}